.dia{
    background-color: rgb(204, 192, 80);
}

table {
    width: 100%;
    text-align: center;
}

body{
    text-align: center;
}

.diw{
    background-color:rgb(29, 156, 15);
}

.daw{
    background-color:rgb(146, 32, 163);
}

.dwec{
    background-color:rgb(203, 46, 46);
}

.dwes{
    background-color:rgb(238, 218, 61);
}

.libre{
    background-color: aqua;
}

.recreo{
    background-color: rgb(57, 200, 200);
}

.horas{
    background-color: rgb(207, 207, 207);
}

body{
    background-color: rgb(243, 211, 211);
}